nav{
  width:100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom:40px;
  }
  nav img{
      width:auto;
      height:20px;
  }

@media only screen and (max-width: 480px) {
    nav {
      flex-direction: column;
      align-items: unset;
      img{
        align-self:flex-start
      }
    }
  }