.room-card-container{
  display:flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom:10px;
}
.room-image{
  width:100%;
  max-height:244px;
  // height: 269px;
  overflow-y: hidden;
  border-radius:24px;
}
.room-image img{
  width:100%;
}
.room-details{
  margin: 21px 0 17px 0; 
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items: center;
  font-weight:500;
  font-size:14px;
  color:#828282;
}
.superhost{
  border:1px solid #828282;
  padding: 6px 10px;
  text-transform: uppercase;
  border-radius:12px;
  font-weight:700;
}
.room-card-rating{
  display:flex;
  align-items:center;
}
.room-card-rating img{
  width:15px;
  height:auto;
}
.room-title{
  font-weight:600;
  font-size:16px;
}

@media only screen and (max-width: 480px) {
  .room-details{
    margin: 10px 0;
  }
  .room-title{
    margin-bottom: 15px;
  }
}